<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>Ch08</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>menu_member</param-name>
    <param-value>회원등록 회원조회 회원수정</param-value>
  </context-param>
  <context-param>
    <param-name>menu_order</param-name>
    <param-value>주문조회 주문등록 주문수정 주문취소</param-value>
  </context-param>
  <context-param>
    <param-name>menu_goods</param-name>
    <param-value>상품조회 상품등록 상품수정 상품삭제</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>sec.FirstServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>sec.SecondServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ViewServlet</display-name>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>sec2.ViewServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>MemberServlet</display-name>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>sec2.MemberServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SetServlet</display-name>
    <servlet-name>SetServlet</servlet-name>
    <servlet-class>sec03.SetServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GetServlet</display-name>
    <servlet-name>GetServlet</servlet-name>
    <servlet-class>ex02.GetServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ContextFileServlet</display-name>
    <servlet-name>ContextFileServlet</servlet-name>
    <servlet-class>ex03.ContextFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextFileServlet</servlet-name>
    <url-pattern>/ContextFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>initParamServlet</display-name>
    <servlet-name>initParamServlet</servlet-name>
    <servlet-class>ex04.initParamServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>email</param-name>
      <param-value>admin@jweb.com</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>tel</param-name>
      <param-value>010-1111-2222</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoadAPpConfig</display-name>
    <servlet-name>LoadAPpConfig</servlet-name>
    <servlet-class>ex5.LoadAPpConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadAPpConfig</servlet-name>
    <url-pattern>/LoadAPpConfig</url-pattern>
  </servlet-mapping>
</web-app>